html{background-color:#DDD;}
body{background:#FFF url('images/bg.png') repeat-x bottom;background:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#DDD));margin-bottom:0px !important;padding:0px !important;padding-left :10px !important;height :100%;}
*{font-family :'Helvetica Neue',Helvetica,'MgOpen Moderna',sans-serif !important;color :#333 !important;text-decoration:none !important;word-spacing:0.1em;outline :none;}
.chromeColor,.calHeader,.dpdiv,.dpi-popup,#lhscalinner_fav div,.mainGrid,#dp_0_t1,#dp_0_t2,#dp_0_b1,#dp_0_b2,
.printborder,.wk-weektop,#gridcontainer,.modelinkOn,.modelinkOff,.t1,.t2,.wk-dummyth,.calList,#rhstogglecell,
#chrome_main1,#todayButton,.eventborder,#chrome_cover2,button,#chrome_cover3,.eventpg,#eventdetails .modulebody,
#sropt div,.mbox-cont{background :none !important;border :none !important;}
.navbutton:hover{opacity :0.7;}
input,textarea{border :1px solid #bbb !important;-moz-border-radius :5px;-webkit-border-radius :5px;}
#maininput{background-color:#FFF !important;}
#gbar .gb1{position :absolute;top :-300px;}
#show_search_opts{font-size:85% !important;}
#show_search_opts:hover{color:#EEE !important;}
.navBack,.navForward,.calListImg,.tgnowptr,.zippy-arrow,#labsLink,#printlink img,.tg-nowptr,#tgnowptr,
#lvHeader div + div img,.goog-zippy-collapsed .zippy-arrow,.quick .imgbtn,.sng-remove{background-image:url('images/sprite.gif') !important;}
.add{background:transparent url('images/add.gif') no-repeat center left !important;}
.emailguests{background:transparent url('images/email.gif') no-repeat top left !important;}
.newstyle-dialog-title-close{background:transparent url('images/close.gif') no-repeat center left !important;}
.newstyle-dialog-title-close img{opacity :0;}
#todayButton,.calHeader,#gadgetcell .sng-title{font-weight:bold !important;}
a,.lk,.wk-daylink,.sidelink,#todayButton,button,.calHeader,#gadgetcell .sng-title{color:#777 !important;font-weight:normal;text-decoration:none;font-size :13px !important;}
.calHeader{margin-left :-18px;}
.zippy-arrow{vertical-align:top;}
a:hover,.lk:hover,.wk-daylink:hover,.sidelink:hover,#todayButton:hover,.calHeader:hover,#gadgetcell .sng-title:hover{color:#333 !important;}
.sidelink,.modelinkOff,.modelinkOn,#todayButton,#chrome_main1 td h2 span,.calHeader,
#gadgetcell .sng-title{text-shadow :2px 2px 0px #fff;}
a:hover,.lk:hover,.wk-daylink:hover,#show_search_opts:hover;{color:#333 !important;}
.dpdiv{padding:0px;}
/* LINKS*/
#mainlogo,#gbar,.gbh,#guser b{opacity :0;}
#guser{margin-top :3px;font-size :9px;color :rgb(153,153,153) !important;padding-right:13px;}
.logoparent{background:transparent url('images/title.png') no-repeat -25px 7px;}
.logoparent:hover{opacity :0.5;}
.sidelink .lk,.sidelink,.modelinkOff,.modelinkOn{font-weight :bold;}
#srreg form #show_search_opts,#srreg form input[type='submit']{cursor :pointer;display :none;border :none !important;background:none !important;font-size:85%;font-weight:bold;text-transform:uppercase;}
#srreg form #show_search_opts:hover,#srreg form input[type='submit']:hover{color :rgb(150,150,150) !important;}
#topCtrls:hover #srreg form #show_search_opts{margin-left:15px;color :rgb(100,100,100) !important;}
#topCtrls:hover #srreg form #show_search_opts,#topCtrls:hover #srreg form input[type='submit']{display :inline;}
#maininput{padding:5px;font-size:13px;}
/* SIDE CALENDER*/
.dp-dayh{color:#AAA !important;}
.dpdiv:hover .dp-dayh{color:#333 !important;}
.dpdiv table,.dpdiv table tr,.dpdiv table tr td{border-color:#AAA !important;}
.dp-weekday-selected,.dp-today-selected,.dp-weekend-selected{color:#fff !important;}
.dp-weekday-selected{background-color:#CCC;}
.dp-today-selected{background-color:#666;border-color:#FF847F;color:#fff !important;}
.dp-weekend-selected{background-color:#959595;}
.dp-onhover{background-color:#FF847F;}
.dpdiv:hover .dp-weekday-selected{background-color:#FB4F4D;}
.dpdiv:hover .dp-today-selected{background-color:#DB0000;border-color:#FF847F;color:#fff !important;}
.dpdiv:hover .dp-weekend-selected{background-color:#D64444;}
/* CALENDER*/
.tg-col-eventwrapper{margin-right :0px;}
#chrome_main1{margin-bottom :30px;}
.tg-times,.wk-allday,.st-dtitle{background-color:#EEE !important;border-color:#CCC;}
.wk-scrolltimedevents{border-color:#CCC;}
.drag-lasso{background-color:#D1D1D1 !important;}
.wk-dayname,.wk-today,.mv-daynames-table,#gadgetcell .sng-title{background-color:transparent !important;border:none;text-transform:uppercase;}
.wk-dayname span,.mv-dayname{font-weight:bold !important;letter-spacing:1px;font-size :10px !important;}
.wk-today span{color:#db0000 !important;}
.tg-today,.st-bg-today,.lv-today{background-color:rgb(255,255,245) !important;}
.st-bg{border-color:#CCC;}
.st-dtitle-nonmonth{background-color:#FFE5E6 !important;}
.chip *{color:#fff !important;}
/* AGENDA */
.lv-row{margin:0px 100px !important;}
.lv-alt{background-color:#eee !important;}
#lv_listview{padding-right:10px;}
.modelinkOn *{color:#333 !important;}
.modelinkOff nobr{color :#777 !important;}
.modelinkOff:hover,.modelinkOn:hover{opacity:0.8;}
#topBar{margin-top :-30px;margin-bottom:50px;}
#chrome_main1 td h2{position:absolute;top :50px;left :180px;}
#chrome_main1 td h2 span{font-size :42px !important;}
#chrome_main1 td h2 span:hover{color :#CCC !important;}
#printlink{position :absolute;top :53px;right :14px;}
.printborder{margin-left:9px;}
#printlink #printlinkSpan{font-weight :bold;font-size:120%;text-shadow :2px 2px 0px #fff;}
#printlink{opacity :0.2;}
#printlink:hover{opacity :1;}
#addP{background-color:#D8D8D8 !important;border:1px solid #6E6E6E !important;-moz-border-radius :3px;-webkit-border-radius :3px;}
#addP *:hover{background-color:#CCC !important;}
.modulebody{background-color:#EEE !important;}
#eventdetails #details,.newstyle-dialog,.listv{background-color:#fff !important;border:1px solid #999;-moz-border-radius :5px;-webkit-border-radius :5px;}
.newstyle-dialog-title{background-color:#eee !important;}
#set{background-color:transparent !important;}
#set h2{letter-spacing:1px;}
#sbody,a.stabs-selected,#settingsForm .buttons{background-color:#FFF !important;}
a.stabs-selected{color:#FFF;}
#svalues table.rows th,#svalues table.rows td{border-color:#CCC !important;}
#svalues th,#svalues tr.delimrow th,#svalues tr.delimrow td,#svalues td{border-color:#E6E6E6 !important;}
#sropt{margin-top :70px;}
#sropt form{background-color:#EEE !important;}
#sropt .logoMargin table{background-color:#DDD !important;}
.logoMargin{margin:0px !important;}
#sropt .logoMargin + div,#sropt .logoMargin{padding :0px 100px !important;}
.quick label,.quick p{color:#fff !important;}
.quick .boxbody{background-color:#B51D1C !important;border-color:#DC0000 !important;padding :5px;-moz-border-radius :10px;-webkit-border-radius :10px;-webkit-box-shadow:rgba(0,0,0,0.597656) 0px 5px 8px;-moz-box-shadow:rgba(0,0,0,0.597656) 0px 5px 8px;}
.quick .offset{border:none !important;}
.quick .b2{background-color:#930000 !important;display:none;}
.quick .sb2{background-color:#480000 !important;display:none;}
.quick .reset{opacity :0;}
#gadgetcell{padding-top :57px;}
#gadgetcell .sng-title{font-size :10px !important;}
#gadgetcell .sng-title-bar{background-color:transparent;margin-bottom:2px;}
#gadgetcell .j{background-color:rgba(255,255,255,0.6) !important;}
#gadgetcell .sng-wrapper{border-color:#BBB;background-color:#fff !important;}
.sng-remove{border-color:#777 !important;margin-top:-3px;}
.G{background-color:#EEE !important;}
#gadgetcell table *{border-bottom-color:#CCC !important;}
.mbox{margin-top:-8px;width :100%;text-align:right;}
.mbox .mbox-cont{color:#FB4F4D !important;}
.mbox .mbox-cont span{color:rgb(51,51,51) !important;}
#nt1 div{text-align:right;}
#details-container .t1,#details-container .t2{display :none;}
